/* variables */
:root{
    --cyan: hsl(179, 62%, 43%);
    --brightyellow: hsl(71, 73%, 54%);

    --lightgray: hsl(204, 43%, 93%);
    --grayishblue: hsl(218, 22%, 67%);
}
/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* base styles */
body{
    background-color: var(--lightgray);
    overflow-x: hidden;
}
.content{
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px var(--grayishblue);
}
.button{
    background-color: var(--brightyellow);
    color: white;
    border-radius: 5px;
    
}
.button:hover{
    box-shadow: 1px 1px 10px 5px #26a4a3;
}
/* fonts */
body{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}
h1,h3,.button{
    font-weight: 700;
}
h1{
    font-size: 2em;
}
h3{
    font-size: 1.2em;
}
p,span,ul{
    font-size: 1em;
}

/* mobile styles */
body{
    font-size: 13px;
}
.content{
    width: 70%;
}
.grid{
    width: 100%;
    margin: 30px auto; 
    display: grid;
    grid-template-rows: 1fr 0.85fr 0.95fr;
    grid-gap: 0px;
}
#one{
    grid-row: 1/2;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#two{
    grid-row: 2/3;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--cyan);
    color: white;
}
#three{
    grid-row: 3/4;
    padding-left: 20px;
    padding-right: 20px;
    background-color:  #4abebd;
    color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#one h1{
    color: var(--cyan);
    margin-bottom: 20px;
}
#one h3{
    color: var(--brightyellow);
}
#one p{
    color: var(--grayishblue);
    line-height: 2em;
    padding-bottom: 30px;
}
#two{
    line-height: 2.5em;
}
#big{
    font-size: 2.3em;
}
#light{
    padding-left: 5px;
    color: #6ad0cd;   
}
#two p{
    margin-bottom: 27px;
}
.button{
    display: inline-block;
    width: 90%;
    padding: 5px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    margin-left: 9px;
 }

#three li{
    color: var(--lightgray);
    line-height: 2em;
}
#three{
    padding-bottom: 20px;
}


/* small tablet styles */
@media screen and (min-width: 620px){
    body{
        font-size: 18px;
    }
    #one,#two,#three{
        padding-left: 35px;
        padding-right: 35px;
    }
}

/* large tablet and laptop styles */
@media screen and (min-width: 947px){
    body{
        font-size: 20px;
    }
}

/* desktop styles */
@media screen and (min-width: 1041px){
    body{
        font-size: 22px;
    }
    .content{
        width: 80%;
    }
    .grid{
        width: 100%;
        margin: 30px auto; 
        display: grid;
        grid-template-rows: 0.85fr 1.15fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0px;
    }
    #one{
        grid-row: 1/2;
        grid-column: 1/3;
        padding-left: 50px;
        padding-right: 50px;
        background-color: white;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    #two{
        grid-row: 2/3;
        grid-column: 1/2;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 30px;
        background-color: var(--cyan);
        color: white;
        border-bottom-left-radius: 6px;
        line-height: 2em;
    }
    #three{
        grid-row: 2/3;
        grid-column: 2/3;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        background-color:  #4abebd;
        color: white;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 6px;
    }
    #two p{
        padding-top: 20px;
        font-size: 0.95em;
        padding-bottom: 30px;
    }

    #three li{
        line-height: 1.6em;
    }
    .button{
        width: 285px;
    }
}